[Desktop Entry]
Version=1.0
Type=Application
Name=iapRemote
GenericName=IAP Remote Client
Comment=Secure IAP Tunneling Client for GCP
Exec=/usr/bin/iapRemote
Icon=iapRemote
Terminal=false
Categories=Network;GTK;
Keywords=gcp;iap;ssh;rdp;tunnel;
StartupNotify=true
StartupWMClass=iapRemote
