# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk
*.exp
*.lib
*.def

# Debugger Files
*.pdb
*.idb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
iapRemote

# Debug information files
*.dwo
*.dsym/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
_CPack_Packages/
CPackConfig.cmake
CPackSourceConfig.cmake
install_manifest.txt
CTestTestfile.cmake

# Suggested build directory
build*
*_stage/
output/

# Editor / IDE
.vscode/
.idea/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db